<h2><%= t(:all_products_title) %></h2>

<table>
  <tr>
    <th><%= t(:all_products_table_header_name) %></th>
    <th><%= t(:all_products_table_header_price) %></th>
    <th><%= t(:all_products_table_header_quantity) %></th>
    <th><%= t(:all_products_table_header_link) %></th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
	  <td><%= product.quantity %></td>
      <td><%= link_to t(:all_products_links), product_path(product) %></td>
    </tr>
  <% end %>
</table>