<h2>Products - new</h2>


<%= form_with scope: :product, url: products_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :price %><br>
    <%= form.text_area :price %>
  </p>
  
  <p>
    <%= form.label :quantity %><br>
    <%= form.text_area :quantity %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>