<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:railz4uniCourse) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="applicationHeaderId">
	  <div id="welcomeDiv"><%= t(:railz4uniCourse) %></div>
	  <div id="langSwitchDiv">
		<%= t(:language) %>:
		  <%= link_to "ENG", "?locale=en" %>
		  <%= link_to "HU", "?locale=hu" %>
	  </div>
	</header>
  
    <%= yield %>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
